---
- hosts: all
  tasks:
    - name: Install docker
      ansible.builtin.apt:
        name: docker.io
        state: latest
        update_cache: true
      become: true
    - name: Add our user to the docker group, so we don't need sudo/become
      ansible.builtin.user:
        name: '{{ansible_user}}'
        groups: docker
        append: true
      become: true
    - name: Reset ssh connection to allow the user/group change to take Effect
      ansible.builtin.meta: reset_connection
    - name: Run test container
      ansible.builtin.docker_container:
        name: testcontainer
        image: busybox
        state: started
        command: echo hello world
