---
- hosts: all
  tasks:
    - name: Install docker
      ansible.builtin.apt:
        name: docker.io
        state: latest
        update_cache: true
      become: true
    - name: Add our user to the docker group, so we don't need sudo/become
      ansible.builtin.user:
        name: '{{ansible_user}}'
        groups: docker
        append: true
      become: true
    - name: Reset ssh connection to allow the user/group change to take Effect
      ansible.builtin.meta: reset_connection
    - name: Build container image locally
      community.docker.docker_image:
        name: superlists
        source: build
        state: present
        build:
          path: ..
          platform: linux/amd64
        force_source: true
      delegate_to: 127.0.0.1
    - name: Export container image locally
      community.docker.docker_image:
        name: superlists
        archive_path: /tmp/superlists.tar
        source: local
      delegate_to: 127.0.0.1

    - name: Upload image to server
      ansible.builtin.copy:
        src: /tmp/superlists.tar
        dest: /tmp/superlists.tar

    - name: Import container image on server
      community.docker.docker_image:
        name: superlists
        load_path: /tmp/superlists.tar
        source: load
        force_source: true
        state: present
    - name: Ensure the .secret-key file exists
      # The intention is that this only happens once per server
      ansible.builtin.copy:
        dest: ~/.secret-key
        content: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters') }}"
        mode: '0600'
        force: false # do not recreate file if it already exists
    - name: Read secret key back from file
      ansible.builtin.slurp:
        src: ~/.secret-key
      register: secret_key
    - name: Ensure db.sqlite3 file exists outside container
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/db.sqlite3"
        state: touch
        owner: 1234
        mode: '0644'
      become: true # needed for ownership change
    - name: Gether EC2 metadata
      amazon.aws.ec2_metadata_facts:
      register: ec2_metadata
      #when: "'amazon' in group_names"
    - name: Display the public hostname
      debug:
        msg: "Public hostname is {{ ec2_metadata.ansible_facts.ansible_ec2_public_hostname }}"
    - name: Run container
      community.docker.docker_container:
        name: superlists
        image: superlists
        state: started
        recreate: true
        env:
          DJANGO_DEBUG_FALSE: "1"
          DJANGO_SECRET_KEY: "{{ secret_key.content | b64decode }}"
          DJANGO_ALLOWED_HOST: "{{ inventory_hostname }}"
          DJANGO_DB_PATH: "/home/nonroot/db.sqlite3"
          OTHER_PUBLIC_ALLOWED_HOST: "{{ ec2_metadata.ansible_facts.ansible_ec2_public_hostname }}"
        mounts:
          - type: bind
            source: "{{ ansible_facts['env']['HOME'] }}/db.sqlite3"
            target: /home/nonroot/db.sqlite3
        ports: 80:8888