{% extends "base.html" %}

{% block header_text %}Your To-Do lists{% endblock %}

{% block extra_header %}
  {% url 'view_list' list.id as form_action %}
  {% include "includes/form.html" with form=form form_action=form_action %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <table class="table" id="id_list_table">
        {% for item in list.item_set.all %}
          <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row justify-content-right">
    <div class="col-lg-6 text-end">
      <p>Share this list:</p>
      <form method="POST" action="{% url 'share_list' list.id %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" name="sharee" class="form-control" placeholder="your-friend@example.com">
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% include "includes/scripts.html" %}
{% endblock %}